*~
fampp2*tar*bz2
fampp2*tar*gz

fampp.spec
fampp2.pc
configure
*.flc
.cvsignore
CVS/
stamp-h
Makefile
Makefile.in
autom4te-2.53.cache
autom4te.cache
config.guess
config.sub
aclocal.m4
depcomp
mkinstalldirs
missing
ltmain.sh
install-sh
a.out


